target/
crates/mock
crates/parser/fixtures
*.env*
Vixen.toml

Cargo.lock
crates/*/Cargo.lock
crates/*/idl.json
.github

crates/boop-parser
crates/jupiter-swap-parser
crates/kamino-limit-orders-parser
crates/meteora-*
crates/orca-whirlpool-parser
crates/pump-swaps-parser
crates/raydium-amm-v4-parser
crates/raydium-clmm-parser
crates/raydium-cpmm-parser
crates/raydium-launchpad-parser
crates/solana-snapshot-source
crates/stake-pool-parser
crates/virtuals-parser
crates/yellowstone-fumarole-source

codama-parser-generation.md
scripts/
examples/opentelemetry/
examples/streams-ts/
examples/streams-tracing/

.rustfmt.toml
CHANGELOG.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
opentelemetry-config.yaml